# IA y APIs
anthropic
openai
google-genai
requests

# Generación de video
moviepy==2.1.1
Pillow>=10.4.0
numpy

# Voz
gTTS

# Audio
pydub

# API
fastapi
uvicorn
python-multipart

# Utilidades
python-dotenv
tqdm
cloudinary